@CHARSET "UTF-8";
h2 a{
	text-decoration:none;
	color:#333;
}
h2 a:hover{
	color:orange;
}
#list{
	width: 600px;
	height: 512px;
	border: 1px solid #ccc;
	float: right;
	margin: 0 0 10px 0;
}
#user{
	width: 340px;
	height: 250px;
	border: 1px solid #ccc;
	float: left;
	margin: 0 0 10px 0;
	font-size: 12px;
}
#pics{
	width: 340px;
	height: 250px;
	border: 1px solid #ccc;
	float: left;
	margin: 0 0 10px 0;
}
